.page {
  width: 1440px;
  margin: 0 auto;
  padding: 65px 110px 32px;
}



.main {
  margin: 50px 80px 80px;
}

.sub-title {
  font-family: Comfortaa, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 5px;
}

.card-section {
  display: flex;
  gap: 50px;
  height: 230px;
  margin-top: 25px;
}

.card {
  width: 450px;
  background-color: beige;
  border: 1px solid #26278D;
  border-radius: 6px;
}

.card-section__converter-button {
  width: 60px;
  height: 60px;
  margin-top: 117px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.diagram-section {
  margin-top: 30px;
  padding-top: 20px;
}

.diagram {
  margin-top: 20px;
  height: 407px;
  background-color: beige;
  border: 1px solid #26278D;
}

.main__decription {
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.main__decription-text {
  color: rgba(0, 0, 0, 0.60);
  text-align: justify;
  font-family: Comfortaa, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 119.862%;
  letter-spacing: 0.8px;
}

.line {
  border: 1px solid #26278D;
}

.footer {
  margin: 32px 80px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  align-items: center;
}

.bank-link {
  text-align: center;
  font-family: Comfortaa, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.225px;
  text-decoration-line: underline;
  text-transform: uppercase;
  cursor: pointer;
  justify-self: start;
}

.sign {
  text-align: center;
  font-family: Comfortaa, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.225px;
  text-transform: uppercase;
  justify-self: end;
}

.super-mentor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.super-mentor__text {
  text-align: center;
  font-family: Comfortaa, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.225px;
  text-transform: lowercase;
}

.super-mentor__img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}